* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #222;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

/* HOME WITH IMAGE */
.home-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.home-image img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #007bff;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        text-align: center;
    }
}


/* SECTIONS */
.section {
    padding: 50px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 15px;
}

.light {
    background: #f9f9f9;
}

/* SKILLS */
.skills-list {
    list-style: none;
}

.skills-list li {
    margin: 8px 0;
}

/* PROJECT */
.project-box {
    background: white;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
