* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: #222;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

/* HOME */
.home {
    height: 90vh;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-text h1 {
    font-size: 36px;
}

.home-text span {
    color: #007bff;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

/* SECTIONS */
.section {
    padding: 50px 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 15px;
}

.light {
    background: #f9f9f9;
}

/* SKILLS */
.skills-list {
    list-style: none;
}

.skills-list li {
    margin: 8px 0;
}

/* PROJECT */
.project-box {
    background: white;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
